.mat-list-item.active {
    background: linear-gradient(to right, rgba(24,24,24,0),rgba(253,215,0,0.3) );
    color: #FDD700;
    border-right: 3px solid #FFE501;
}
.mat-list-item{
    color: #C0C0C0;
    height: 70px !important;
    padding: 0 15px;
    font-size: 24px;
}
.mat-nav-list{
    padding-top: 0;
}

