:host {
  display: block;
}
.table-container{  
  border-radius: 5px;
  border: 1px solid #DFE5E7;
}
.mat-table{
  color: #404040;
}
.fontnew{
  font-size: 18px;
  color: #404040;
}
.mat-stroked-button{
  border: none;
}
.mat-stroked-button{
  font-size: 12px;
}