.demoheader{
    margin: 20px 30px;
    width: auto;
    color: #FDD700;
    height: 84px;
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
    border-radius: 7px;
    
}
.mat-toolbar h1{
    font-size: 34px;
    padding-left: 20px;
}
.table-container {
    border-radius: 5px;
    border: 1px solid #DFE5E7;
}
.mat-table {
    color: #404040;
}
.mat-paginator-page-size{
    display: none;
}