<header fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex *ngIf="!searchExpanded" class="header-title">
    <button mat-icon-button fxHide.gt-sm (click)="onMenuToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="brand" fxHide.xs fxHide.sm routerLink="/">
      <img [src]="logoUrl" />
      <span>{{ appName | translate }}</span>
    </a>
    <a class="brand-m" fxHide.gt-sm routerLink="/">
      <img [src]="logoUrl_1" />
    </a>
  </div>
  <app-search style="margin-right: 30px" (onSearchExpanded)="searchExpanded = $event" [ngClass]="searchExpanded ? 'search-expanded' : 'search-collapsed'"></app-search>
</header>
