@import '../../../../themes';
;
:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header {
  height: 100%;
  padding: 0 30px;
  background: #2A2A2A;
  .mat-icon-button {
    margin-right: 10px;
  }
  .brand {
    color: #FDD700;
    display: inline-block;
    height: 94px;
    line-height: 94px;
    font-size: 24px;
    font-weight: bold;
    img {
      width: 50px;
      margin-right: 10px;
      vertical-align: middle;
      padding-bottom: 10px;
    }
  }
  .search-collapsed {
    width: auto;
  }
  .search-expanded {
    width: 100%;
  }
  .header-title{
    width: 300px;
    
  }
  
}
