:host {
  display: block;
}

.mat-card{
  padding: 0;
  box-shadow: none !important;
  border-radius: 5px;
  font-size: 14px;
  background: #2A2A2A;
  color: #C8D0DB;
}
.mat-card span{
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  padding-right: 20px;
}

.mat-card-title .mat-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mat-card-title{
  margin: 0;
  padding: 17px 36px;
  color: #FDD700;
  font-weight: bold;
}
table td{   
    border-top: 1px solid rgba(226,231,232,0.1);
    overflow: hidden;
    height: 45px;
  } 
  