:host {
  display: block;
}

.mat-card{
  padding: 0;
  box-shadow: none;
}

.mat-card-title .mat-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mat-card-title{
  border-bottom: 1px solid #DDDDDD;
  margin: 0;
  padding: 17px;
}
table td{   
    border-bottom: 1px solid #E2E7E8;
    overflow: hidden;
    height: 45px;
  } 
  