.demoheader{
    margin: 20px 30px;
    width: auto;
    color: #FDD700;
    height: 84px;
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
    border-radius: 7px;
    background: #2A2A2A;
}
.mat-toolbar h1{
    font-size: 34px;
    padding-left: 20px;
}
.borderset{
    border-radius: 5px;
    border: 1px solid #DFE5E7;
}
.mat-expansion-panel{
    box-shadow: none !important;
    border-bottom: 1px solid #E2E7E8;
}