.mat-table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .12);
}
.mat-card {
  color:#404040;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
.mat-headline,
.mat-title,
.mat-subheading-2,
.mat-subheading-1 {
  margin: 0;
}
.mat-paginator{
  color: #999999;
}
.mat-tab-labels{
  border-radius: 7px;
}
.mat-tab-label-active{
  color:#3B8EF3;
}
.mat-drawer-container{
  color: #404040;
}
pre{
  margin: 10px 0 !important;
  padding: 15px !important;
  outline: none !important;
}

.mat-form-field-flex{
  border-radius: 1px;
}
.mat-form-field-label{
  color: #B8BFC9 !important;
  padding: 8px 30px 4px !important;
  border-bottom: 1px solid rgba(226,231,232,0.1);
}
.mat-form-field-infix{
  padding: 5px 16px !important;
}
.mat-expansion-indicator::after{
  color: #999999;
}
.mat-form-field-label-wrapper{
  padding: 0;
}
.mat-select-value{
  padding: 15px 7px 7px;
}
.mat-select-arrow {
  color: #B8BFC9;
}
.mat-expansion-panel{
  color:#404040;
}
.mat-expansion-panel-header-title{
  color:#404040;
}
.mat-cell{
  color:#404040;
}
.mat-progress-bar-fill::after{
  background:#F28F96;
}
.mat-progress-bar-buffer{
  background:#F3D5D7;
}
.mat-tab-label-container{
  background: #ffffff;
  border-radius: 7px 7px 0px 0px;
}