.mat-table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .12);
  background: #2a2a2a;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
.mat-toolbar{
  background: #2A2A2A;
}
.mat-headline,
.mat-title,
.mat-subheading-2,
.mat-subheading-1 {
  margin: 0;
}
.mat-paginator-container{
  background: #2A2A2A;
}
.mat-expansion-panel{
  background: #2A2A2A; 
}
.mat-paginator{
  color: #999999;
}
.mat-tab-labels{
  background: #2A2A2A; 
  border-radius: 7px;
}
.mat-tab-label{
  color: #FDD700;
}
.mat-drawer-container{
  color: #ffffff;
}
pre{
  background: #2A2A2A;
  margin: 10px 0 !important;
  padding: 15px !important;
  outline: none !important;
}

.mat-form-field-flex{
  background: #2A2A2A;
}
.mat-select-value{
  color:#FDD700;
}
.mat-form-field-label{
  color: #B8BFC9 !important;
  padding: 8px 30px 4px !important;
  border-bottom: 1px solid #fff;
}
.mat-form-field-infix{
  padding: 5px 15px !important;
}
.mat-expansion-indicator::after{
  color: #fff;
}
.mat-form-field-label-wrapper{
  padding: 0;
}
.mat-select-value{
  padding: 15px 7px 7px;
}
.mat-select-content{
  background: #2a2a2a;
}
.mat-option{
  color:#FDD700;
}
.mat-selected{
  color: #FDD700 !important;
  background: rgba(255, 255, 255, 0.05) !important;
}