@import '~normalize.css/normalize.css';
pre {
  margin: 10px !important;
  font-size: 12px;
  overflow: auto;
}

.table-container {
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th,
  td {
    height: 40px;
    padding: 0 10px !important;
    white-space: nowrap;
  }
  th:first-child,
  td:first-child {
    padding-left: 36px !important;
  }
  th:last-child,
  td:last-child {
    padding-right: 15px !important;
  }
  
}
.demoheader{
  margin: 20px 30px;
  width: auto;
  color: #FDD700;
  height: 84px;
  box-shadow: 0 0 10px rgba(0,0,0,0.07);
  border-radius: 7px;
  background: #2A2A2A;
}