:host {
  display: block;
}

.bgcolor{
  background-color: rgba(204,204,204,0.2);
}
.table-container{  
  border-radius: 5px;
 
}
.mat-table{
  color: #404040;
}
.fontnew{
  font-size: 18px;
  color: #FDD700;
}
.mat-stroked-button{
  border: none;
}
.mat-stroked-button{
  font-size: 12px;
}
td{   
  border-top: 1px solid rgba(226,231,232,0.1);
} 
th{   
  text-align: left;
}
.mat-row:hover{
  background-color: rgba(204,204,204,0.2);
}