:host {
  display: block;
}
table td{   
  border-bottom: 1px solid #E2E7E8;
}
.bgcolor{
  background-color: rgba(204,204,204,0.2);
}
.table-container{  
  border-radius: 5px;
  border: 1px solid #DFE5E7;
 
}
.mat-table{
  color: #404040;
}
.fontnew{
  font-size: 18px;
  color: #FDD700;
}
.mat-stroked-button{
  border: none;
}
.mat-stroked-button{
  font-size: 12px;
}
