:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-header {
  height: 94px;
}

mat-sidenav-container {
  padding-top: 94px;
  height: 100%;
  background: #202020;
}

mat-sidenav {
  width: 300px;
  background: #2A2A2A;
}


.mat-list-item-content{
  padding: 0 30px !important;
}